@import url("https://fonts.googleapis.com/css?family=Be+Vietnam+Pro:wght@300&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro",sans-serif;
    scroll-behavior: smooth;
}


/*global variable*/
:root{
    --bgOrange:#e84949;
}

/*for black in background*/
.body{
    background-color: black;
}


#wrapper{
    height: 100vh;
    overflow-y: auto;
    
    overflow-x: hidden; /*isse x direction me scroll nhi hoga*/
}

.container{
    width: 1200px;
    margin: 0 auto;

}

.navcontainer{
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 1rem;
    /* box-shadow: #4e45d5; */

    /*for shadow  at nav bar*/
    background: #111;
    padding: 15px 20px;
    box-shadow: 0 2px 8px rgba(255,255,255,0.3);
    position: relative;
    z-index:10;
    
}

/* .line{
    
    border: none;
    height: 1px;
    background-color: #9C27B0;
} */

/* .shadow-line{
    height: 2px;
    background: transparent;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
    margin:20px 0;
} */

.logo{
    width: 50px;
    
    position: relative;
    left: 35%;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: baseline;
    
    
}

.logo-text{
    color:linear-gradient(90deg, #4285F4, #9C27B0);
    margin-left:-0.4rem;
    margin-top: 0.5rem;
    font-size: 28px;

    /* font-size: 100px; /* adjust as needed */
    font-weight: bold;
    background: linear-gradient(90deg, #4285F4, #9C27B0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    position: relative;
    left: 35%;
}

.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4em; /*may be rem/em */
    /* color: blue; */
    position: relative;
    right: 10%;
}


.nav-items div{
    font-size: 20px;
    font-weight: 500px;
    cursor: pointer;
    /* transition: all 1s ease; */
    
}


.nav-items div a{
    color: rgb(109, 109, 249);
}

a{
    text-decoration: none; /*under line hatane ke liye*/
}


.nav-items div:hover{
    transition: 0.8s;
    font-weight: bold;
    
}

.hero-section{
    position: relative;
    display: flex;
    /*yhi 2no ke me kuch change karna agr gadbad ho to*/
    justify-content: center;
    align-items: center;
    
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;


}

.faded-text{
    user-select: none;
    font-size: 5em;
    color: rgb(214, 212, 212);/*go to line 366 and match the same as ok*/

    bottom: -16.5%;
    left: 8%;
    font-weight: bold;
    transition: all 3s;

}

.hero-section-left{
    position: relative;/*isko hata dena jarurat padne pe ok*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    left: 8%;
}

.hero-section-heading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}

.role{
    color: #4e45d5;
    font-weight: 800;
}

.hero-section-sub-heading{
    font-size: 45px;
    line-height: 45px;

}

.hero-section-description{
    color: rgb(206, 203, 203);
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;

}

/*btn-pink pura code from another learned*/
.btn-pink{
    background-color: #e84949;
    padding: 0.8rem 2.3rem;
    color: black;
    font-size:15px ;
    box-shadow: 5px 5px 7px 0px #0000003f;
    position: relative;
    z-index: 1;
    
    width: 155px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-pink::before{
    content:"";
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
    z-index: -1;
}

.btn-pink:hover::before{
    transform: scaleX(1);
    border: solid 3px var(--bgOrange);
    color: black;

}

.btn-div{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.resume-btn{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.resume-btn:hover{
    background-color: #45a049;
}

.github-link{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.github-link:hover{
    background-color: #45a049;
}

.hero-section-right{
    position: relative;
    left: -15%;

}
.absolute{
    position: absolute;
}

.user-image{
    /*width: 100px;*/
    padding: 2.5rem ;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;

}

.user-image img{
    z-index: -9;

}

@keyframes scaleImage{
    0%{
        filter: grayscale(0);
        transform: scale(1);
    }

    50%{
        
        transform: scale(1.1);
        filter: grayscale(1);
        /* box-shadow: 3px 3px 10px black; */
        box-shadow: 0 0 20px 10px blue;
    }

    100%{
        transform: scale(1);
        filter: grayscale(0);
    }
}

.icon-dots{
    z-index: 9;
    bottom: -1rem;
    right: 0;
    animation-name: dotsAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

@keyframes dotsAnimation{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-15px);
    }

    100%{
        transform: translateY(0px);
    }
}

.icon-cube{
    z-index: 9;
    top: -0.8em;
    right: 0;
    animation-name: cubeRotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

@keyframes cubeRotate{
    0%{
        
        transform: rotateY(0deg) translateY(-15px);
    }

    50%{
        transform: rotateY(180deg) translateY(0px);
    }

    100%{
        transform:rotateY(360deg) translateY(-15px);
    }

}

.icon-circle{
    z-index: 9;
    bottom: 0;
    left: 0;
    animation-name: shakeEffect;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes shakeEffect{
    0%{
        left: 0;
        bottom: 0;
    }

    50%{
        left: 5%;
        bottom: 10%;
    }

    100%{
        left: 0;
        bottom: 0;
    }

}

.icon-zigzag{
    z-index: 9;
    top: 1.5em;
    left: -0.3em;
    /* animation-name: zigzagAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite; or */
    animation: zigzagAnimation 5s ease-in infinite;

}

@keyframes zigzagAnimation{
    50%{
        left: 5%;
        top: 2%;
    }

}

.icon-plus{
    z-index: 9;
    top: -0.8rem;
    left: 50%;
    /*best hai*/
    /* animation-name: zigzagAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite; or */
    animation: shakeEffectPlus  5s ease-in infinite;

}

@keyframes shakeEffectPlus{
    50%{
        top: 3%;
        left: 48%;

    }

}

.project-section{
    background-color: rgb(214, 212, 212);/*go to line 125 and match the same as ok*/
    margin-top:4rem;
  }

.page-header{
    color:var(--bgOrange);
    font-size:90px;
    text-align:center;
    padding-top:30px;
}

.project-container{
    max-width: 1200px;
    margin:0 auto;
    padding:3rem 0;

    display:flex;
    flex-direction:column;
    gap:120px;
}

.project-card{
    width:90%;
    height:550px;
    background-image: url(./images/projects/Project1.png);
    background-size: cover;
    /* background-repeat: no-repeat; */
    position:relative;
    box-shadow:0px 0px 40px #1f1f1f;
}

.project-card::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #1f1f1f9a;
    z-index:0;
    /* transform: scaleX(1); */
}

.project-card::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transform:scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index:1;
}

.project-card:hover::before{
    transform:scaleX(1);
}

.project-number{
    position:absolute;
    font-size:200px;
    font-weight:600;
    color:white;
    z-index:10;
    /* display:none; */
    opacity: 0;
}


/*yhi kuch add hoga*/
.project-card:hover .project-number{
    /* display:block; */
    opacity: 1;
  }

.project-number-right{
    right:-40px;
    top:-45px;
  }

.project-number-left{
    left:-40px;
    top:-45px;
}

.project-content{
    position:absolute;/*make it relative*/
    display:flex;
    flex-direction:column;
    color:white;
    padding:2em;
    bottom:20%;
    z-index:5;
    gap:1em;
    transition:all 0.4s;
}

.project-content-left{ 
    left:10%;
  }

.project-content-right{ 
    right:10%;
}

.project-skills-container{
    width:60%;
    display:flex;
    gap:10px;
    flex-wrap:wrap;
  
}

.project-skill{
    width:40px;
}

.project-heading{
    font-size:50px;
    font-weight: bold;
    line-height:3rem;
}

.project-subHeading{
    width:70%;
    font-size:16px;
    font-style: italic;
}

.btn-grp{
    display:flex;
    gap:0.9rem;
    align-items:center;
}

.btn-project:hover{
    border:none;
}

.icon{
    cursor:pointer;
    color:white;
    font-size:35px;
    transition:all 0.4s;
}

.icon:hover{
    color:var(--bgOrange);
}

.project-card:hover .project-content{
    transform:scale(1.1);
}

/*background project images*/
#project1{
    background-image: url(./images/projects/Project1.png);
}

#project2{
    margin-left:120px;
    background-image: url(./images/projects/Project2.png);
}

#project3{
    background-image: url(./images/projects/Project3.png);
}

#project4{
    margin-left:120px;
    background-image: url(./images/projects/Project4.png);
}

/*yha abhi code baki hai*/







.skills-container{
    position:relative;
    display:flex;
    padding:5rem;
    margin:10rem auto;
    gap:30px;
  }

.skill-container-left{
  width:50%;
  display:flex;
  flex-direction:column;
}

.skill-container-right{
  display:flex;
  flex-wrap:wrap;
  width:50%;
  position:relative;
  gap:2rem;
  justify-content: center;
}

.skill-fade-text{
  position:absolute;
  font-size:10em;
  font-style:bold;
  color:rgb(231,231,231);/*line 125 aur 366 ke jaise karna hai ok*/
  bottom:-29%;
  right:-14%;
  user-select:none;
  overflow-y:hidden;
}

.blob-style{
  position:absolute;
  top:50%;
  left:50%;
  z-index:-5;
  transform:translate(-50%, -50%);
  animation: blobAnimate 3s linear infinite;
} 

@keyframes blobAnimate {
  50%{
    top:54%;
    left:46%;
  }
}

.skills-logo{
  width:115px;
  transition:all 0.5s;
}


.skills-logo:hover{
  transform:scale(1.2);
}

.skill-heading{
  font-size:50px;
  font-style: bold;
  color: var(--bgOrange);
  line-height: 50px;
}

.caps{
  font-size:90px;
}



.skill-subHeading{
  color: rgb(206, 203, 203);
  margin-top: 1rem;
  width:85%;
  text-align: justify;
}

.skill-subHeading p{
  margin:15px 0;
}

.contactus-form-container{
    width: 100%;
    background-color: rgb(231, 231, 231);
}

.contactus-heading{
    font-size: 5em;
    color: var(--bgOrange);
    padding-top: 2rem;
    
}

.contactus-Sub-heading{
    font-size: 3rem;
    color: #343d68aa;
     text-transform: capitalize;
}

.contactus-form-container{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.form{
    display: flex;
    flex-direction: column ;
    gap: 30px;
    width: 70%;
    margin: 2rem 5rem;
}

.formfield-container{
    width: 100%;
}
.formfield{
    width: 100%;
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #1f1f1f;
    font-weight: 500px;
    border: none;
    margin-top: 17px;
}

.formfield-textarea{
    height: auto;
    padding-top: 1rem;
}

#submit-btn{
    width: 240px;
    border:none;
    font: 1.4rem;
    margin: 1rem 0;
}

#submit-btn:hover{
    scale: 0.9;
}

.submit-icon{
    padding: 0 1rem;
    font-size:1.5rem;
}


.footer{
    position: relative;
    margin-top: -1px;
    background-color: #343d68;
    padding: 5rem;
}

.footer-wrapper{
    display: flex;
    gap: 1rem;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;
}

.footer-faded-text{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #535c87;
    user-select: none;
    font-size: 5em;
    z-index: 1;

}

.link-wrapper{
    display: flex;
    gap: 1.2rem;
}

.link-wrapper div a{
    color:white;
    text-decoration: none;
    transition: 0.6s;
}

.link-wrapper div a:hover{
    color:var(--bgOrange);
    /* text-decoration: none; */
}

.icon-wrapper{
    display: flex;
    gap:1rem;
}



.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
}





/* --- Responsive Design --- */

/* Tablets */
@media (max-width: 1024px) {
    .container {
        width: 90%;
    }

    .hero-section {
        flex-direction: column;
        gap: 2rem;
        margin: 2rem auto;
        padding-bottom: 4rem;
    }

    .hero-section-left {
        left: 0;
        text-align: center;
    }

    .hero-section-right {
        left: 0;
        margin-top: 2rem;
    }

    .hero-section-heading {
        font-size: 28px;
    }

    .hero-section-sub-heading {
        font-size: 36px;
        line-height: 40px;
    }

    .hero-section-description {
        width: 90%;
        margin: 1rem auto;
    }

    .btn-div {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .faded-text {
        font-size: 4em;
        bottom: -20%;
        left: 5%;
    }

    .project-card {
        height: 450px;
    }

    .project-heading {
        font-size: 36px;
    }

    .project-subHeading {
        width: 90%;
        font-size: 14px;
    }

    .skills-container {
        flex-direction: column;
        padding: 3rem;
        margin: 5rem auto;
        gap: 2rem;
    }

    .skill-container-left,
    .skill-container-right {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .skills-logo {
        width: 90px;
    }

    .skill-heading {
        font-size: 36px;
    }

    .caps {
        font-size: 60px;
    }

    .contactus-heading {
        font-size: 3rem;
    }

    .contactus-Sub-heading {
        font-size: 2rem;
    }

    .form {
        width: 90%;
        margin: 2rem auto;
    }

    .footer-wrapper {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }

    .footer-faded-text {
        font-size: 3em;
        position: relative;
        bottom: 0;
        left: 0;
    }
}

/* Mobile Phones */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }

    .logo-container {
        justify-content: center;
    }

    .logo-text {
        left: 0;
        margin-left: 0.5rem;
        font-size: 24px;
    }

    .nav-items {
        flex-direction: column;
        gap: 1rem;
        padding: 0;
        right: 0;
    }

    .hero-section-heading {
        font-size: 24px;
    }

    .hero-section-sub-heading {
        font-size: 28px;
        line-height: 32px;
    }

    .hero-section-description {
        width: 100%;
    }

    .faded-text {
        font-size: 3em;
        bottom: -25%;
        left: 2%;
    }

    .project-card {
        height: 400px;
    }

    .project-heading {
        font-size: 28px;
    }

    .project-subHeading {
        width: 95%;
        font-size: 13px;
    }

    .skills-logo {
        width: 70px;
    }

    .skill-heading {
        font-size: 28px;
    }

    .caps {
        font-size: 50px;
    }

    .contactus-heading {
        font-size: 2.5rem;
    }

    .contactus-Sub-heading {
        font-size: 1.5rem;
    }

    .form {
        width: 95%;
        margin: 1rem auto;
    }

    .btn-pink,
    .resume-btn {
        width: 100%;
    }

    .btn-div {
        flex-direction: column;
    }

    .footer-wrapper {
        padding: 1rem;
    }

    .footer-faded-text {
        font-size: 2.5em;
    }
}

/* Extra small phones */
@media (max-width: 480px) {
    .hero-section-sub-heading {
        font-size: 22px;
        line-height: 26px;
    }

    .project-heading {
        font-size: 24px;
    }

    .skills-logo {
        width: 60px;
    }

    .caps {
        font-size: 40px;
    }

    .contactus-heading {
        font-size: 2rem;
    }

    .contactus-Sub-heading {
        font-size: 1.2rem;
    }

    .btn-pink,
    .resume-btn {
        font-size: 14px;
        padding: 0.6rem;
    }
}
